*{
   background-color: rgb(249, 239, 239);
   opacity: 0.9;
}
#main {
    text-align: center;     
    color : rgba(230, 11, 175, 0.881);
    text-transform: uppercase;
    margin-left: 20px;
}
.choice {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
}
.user, .computer {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-size: cover;
    border: solid 5px black;
}

#userchoice, #computerchoice {
    width: 150px;
    height: 150px;
    border-radius: none;
}

.cho, .cho1, .cho2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid black;
    margin-left: 5px;
    cursor: pointer;
}

.US, .com {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black
}
